* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

:root {
  --grey: #a7a5b3ff;
  --purple: #dbc4ec;
  --shadow-purple: #c1addb;
  --blue: #c8ebffff;
  --orange: #ffaa83;
  --green: #cbe4c4ff;
  --yellow: #fbedbcff;
  --black: #45434aff;
  --pink: #ebc2d9;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: whitesmoke;
}

h1 {
  text-align: center;
  color: var(--black);
  border: 2px solid var(--grey);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 5px 5px var(--grey);
}

#calculator {
  width: 410px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--purple);
  border: 5px solid #ba9fd8;
  border-radius: 30px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 10px 15px #8b7aa1;
}

#output {
  width: 90%;
  height: 20%;
  border-radius: 10px;
  border: 8px inset var(--grey);
  background-color: var(--grey);
  font-size: 2.5em;
  text-align: end;
  color: var(--black);
  padding-block-start: 0.25rem;
  padding-block-end: 0.25rem;
  padding-inline-end: 0.75rem;
}

#keys-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  background-color: var(--shadow-purple);
  border: 10px inset var(--shadow-purple);
  border-radius: 20px;
  padding: 10px;
}

.key {
  font-size: 1.6rem;
  inline-size: 60px;
  block-size: 60px;
  border-radius: 40px;
  color: var(--black);
  cursor: pointer;
}

.key:active {
box-shadow: none;
transform: translateX(5px) translateY(5px);
}

.enter {
  grid-column: 4 / 5;
  grid-row: 3 / span 4;
  height: 220px;
  background-color: var(--orange);
}

.operator {
  background-color: var(--pink);
  box-shadow: 5px 5px #c998a1;
  border: solid 5px #f1b9c3;
}

.yellow-keys {
  background-color: var(--yellow);
  box-shadow: 5px 5px #aca67e;
  border: solid 5px #e0dcb2;
}

.green-keys {
  background-color: var(--green);
  box-shadow: 5px 5px #89a585;
  border: solid 5px #bcd8b3;
}

.blue-keys {
  background-color: var(--blue);
  box-shadow: 5px 5px #89a8b6;
  border: solid 5px #b9dcf1;
}

.orange-keys {
  background-color: var(--orange);
  box-shadow: 5px 5px #c0835b;
  border: solid 5px #e79c7e;
}

p {
  text-align: center;
  padding-top: 15px;
  color: #ba9fd8;
  font-size: 1.1em;
}
